# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Virtual environment
venv/
.env/

# Environment variables
*.env

# VS Code
.vscode/
*.code-workspace

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Cache
*.pytest_cache/
.cache/

# Build artifacts
dist/
build/
*.egg-info/
